@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(93% 0 0);
  --color-base-300: oklch(86% 0 0);
  --color-base-content: oklch(22.389% 0.031 278.072);
  --color-primary: oklch(74% 0.16 232.661);
  --color-primary-content: oklch(0% 0 0);
  --color-secondary: oklch(79% 0.209 151.711);
  --color-secondary-content: oklch(0% 0 0);
  --color-accent: oklch(70% 0.165 254.624);
  --color-accent-content: oklch(0% 0 0);
  --color-neutral: oklch(37% 0 0);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(60% 0.126 221.723);
  --color-info-content: oklch(0% 0 0);
  --color-success: oklch(60% 0.118 184.704);
  --color-success-content: oklch(0% 0 0);
  --color-warning: oklch(68% 0.162 75.834);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(59% 0.249 0.584);
  --color-error-content: oklch(100% 0 0);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.21875rem;
  --size-field: 0.21875rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(27% 0.033 256.848);
  --color-base-200: oklch(21% 0.034 264.665);
  --color-base-300: oklch(13% 0.028 261.692);
  --color-base-content: oklch(97% 0 0);
  --color-primary: oklch(74% 0.16 232.661);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(79% 0.209 151.711);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(70% 0.165 254.624);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(37% 0 0);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(60% 0.126 221.723);
  --color-info-content: oklch(100% 0 0);
  --color-success: oklch(60% 0.118 184.704);
  --color-success-content: oklch(98% 0.014 180.72);
  --color-warning: oklch(68% 0.162 75.834);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(59% 0.249 0.584);
  --color-error-content: oklch(97% 0.014 343.198);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.21875rem;
  --size-field: 0.21875rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

.overflow-x-auto {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 transparent;
}

.overflow-x-auto::-webkit-scrollbar {
  height: 6px !important;
  display: block !important;
}

.overflow-x-auto::-webkit-scrollbar-track {
  background: transparent !important;
}

.overflow-x-auto::-webkit-scrollbar-thumb {
  background-color: #cbd5e1 !important;
  border-radius: 20px !important;
  border: 1px solid transparent !important;
}
